body{
    background-image: url(https://cdn.dribbble.com/users/1616331/screenshots/11458511/1.jpg);
    
    padding: 1rem;
}

#todo{
    background-color: aliceblue;
    opacity: 0.7;
    height: 100%;
}




#cabecalho{

    text-align: center;

}

#menu{

    background-color: rgb(224, 111, 111);
    width: 25%;
    border-radius: 0.8rem;
    

}


#menu:hover{

    padding: 1rem;

}

